.movieListContainer {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
 }

 .singleMovie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 390px;
 }

 .poster {
    width: 200px;
    height: 280px;
 }